<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<head>
    <script src="https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="mainController.js"></script>
</head>

<body ng-app="app" ng-controller="mainController">
    <div class="container">

        <h1>Dropbox SDK test article</h1>

        <div ng-repeat="file in files">
            <a href="{{file.url}}">{{file.filename}}</a>
        </div>



        <buton ng-click="showFileList()" class="btn btn-lg btn-primary">List files</buton>

    </div>

</body>


</html>